<script>
	import { onMount } from 'svelte';

	const storageKey = 'user-theme';

	let preference = '';
	// Persist user preference
	$: preference && localStorage.setItem(storageKey, JSON.stringify(preference));

	function toggle() {
		preference = preference === 'light' ? 'dark' : 'light';
	}

	// localStorage and window is only available in the browser
	onMount(() => {
		preference = JSON.parse(localStorage.getItem(storageKey) || 'dark');
		if (!preference) {
			preference = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
		}

		window
			.matchMedia('(prefers-color-scheme: dark)')
			.addEventListener('change', ({ matches: isDark }) => {
				preference = isDark ? 'dark' : 'light';
			});
	});
</script>

<div data-theme={preference}>
	<!-- <button on:click={toggle} aria-label={preference}>
		Switch to {preference == 'light' ? 'dark' : 'light'}
	</button> -->
	<slot />
</div>

<style>
	:global(*) {
		margin: 0;
		padding: 0;
		border: 0;
		box-sizing: border-box;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	/*###################
    site palette colors 
    ###################*/
	:global(:root) {
		--from-light-palette-color-primary: #ffffff;
		--from-light-palette-color-secondary: #000000;
		--from-light-palette-color-helper: #3e505b;

		--from-dark-palette-color-primary: #000000;
		--from-dark-palette-color-secondary: #ffffff;
		--from-dark-palette-color-helper: #3e505b;
	}

	/*####################################
    defining site color as dark or light
    ####################################*/
	:global(div [data-theme='light']) {
		--site-background-color: var(--from-light-palette-color-primary);
		--site-text-color: var(--from-light-palette-color-secondary);
	}

	:global(div [data-theme='dark']) {
		--site-background-color: var(--from-dark-palette-color-primary);
		--site-text-color: var(--from-dark-palette-color-secondary);
	}

	/*#####################
    using the theme colors
    ######################*/
	:global(div [data-theme]) {
		background-color: var(--site-background-color);
		width: 100vw;
		height: 100vh;
	}

	:global(*) {
		color: var(--site-text-color);
	}
</style>
