<header>
	<!-- <nav>
		<div>Linkedin</div>
		<div>github</div>
	</nav> -->
</header>

<main>
	<section>
		<div>Hi I'm Matheus</div>
        <div>A software engineer </div>
	</section>
</main>

<style>
	header {
		padding-top: 1vh;
	}
	nav {
		display: flex;
		justify-content: space-evenly;
	}
	nav div {
		border: 1px solid white;
		padding: 10px;
	}
    main section{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    main section div:nth-child(1){
        font-size: 2em;
    }
    main section div:nth-child(2){
        font-size: 1em;
    }
</style>
